@page "/"  
@using ShowTime.DataAccess.Models;  
@using ShowTime.Businesslogic.Services;  
@using ShowTime.Components.Pages  

<PageTitle>Home</PageTitle>  

<h1>Hello, world!</h1>  


Welcome to your new app.
